@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
 :root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    list-style-type: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    height: 4000px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::selection {
    color: var(--bg);
    background-color: var(--main-color);
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */

header {
    background-color: var(--bg);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60px;
    border-bottom: 1px solid #eee;
}

header .header .logo img {
    width: 80px;
    height: 50px;
}

header .header nav a {
    color: white;
    padding: 10px 10px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

header .header nav a:hover,
header .header nav .active {
    color: var(--main-color)
}

header .header .icon>div {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

header .header .icon>div:last-child {
    display: none;
}

header form {
    position: absolute;
    right: 0;
    top: 115%;
    right: 7%;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 40rem;
    height: 4rem;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform-origin: top;
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
}

header form.active {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}

header form input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
}

header form label {
    cursor: pointer;
    color: var(--black);
    font-size: 2.2rem;
    margin-right: 1.6rem
}

header form label:hover {
    color: var(--main-color)
}

header .card-cen {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.6rem);
    width: 25rem;
    background-color: var(--bg);
    color: #000;
    padding: 20px;
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
}

header .card-cen .card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0
}

header .card-cen.active {
    right: 0
}

header .card-cen .card .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black)
}

header .card-cen .card .fa-times:hover {
    color: var(--main-color)
}

header .card-cen .card img {
    height: 7rem;
}

header .card-cen .card h2 {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

header .card-cen .prise {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

header .btn {
    background-color: var(--main-color);
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    margin-left: 10rem
}

header .btn:hover {
    letter-spacing: 2px;
    color: var(--black)
}

.show {
    right: 0
}


/***************End Header*********/


/************Home*/

#hero {
    background: url('../images/home-img.jpeg');
    background-position: center;
    background-size: cover;
    padding: 70px;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

#hero .home {
    color: #fff;
    position: absolute;
}

#hero .home h3 {
    margin: 10px;
    font-size: 4rem;
    text-transform: uppercase;
}

#hero {
    overflow: hidden;
}

#hero .home p {
    max-width: 500px;
    line-height: 1.6;
    color: rgb(185, 184, 184);
    letter-spacing: 1px;
    margin: 10px 0 40px
}

#hero .home button {
    padding: 20px 25px;
    background: var(--main-color);
    cursor: pointer;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#hero .home button:hover {
    color: var(--black);
    letter-spacing: 2px;
}


/************End Hero **************/

.head h2 {
    text-align: center;
    color: var(--main-color);
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px
}

.head .or {
    color: #fff;
    text-transform: uppercase;
}


/*************Start About**********/

#about {
    margin: 120px 0;
    max-height: 100vh;
    padding: 100px 0
}

#about .content {
    display: flex;
    background-color: var(--black);
}

#about .content img {
    width: 50%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#about .content .text {
    padding-left: 5%;
    padding-top: 5%;
    color: #fff;
    padding: 5% 20px 0 5%;
}

#about .content .text h2 {
    margin-bottom: 30px
}

#about .content .text p {
    color: #ccc
}

#about .content .text p {
    margin: 20px 0
}

#about button {
    padding: 15px 20px;
    margin-top: 50px;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff
}

#about button:hover {
    letter-spacing: 2px;
}


/******************END ABOUt***********/

#menu {
    margin: 70px 0;
}

#menu .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px
}

#menu .content .box {
    border: 1px solid #eee;
    color: white;
    padding: 40px 20px;
    text-align: center;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

#menu .content .box:hover {
    background-color: #fff;
    color: var(--black)
}

#menu .content .box img,
#menu .content .box h2 {
    margin: 20px 0;
}

#menu .content .box p,
#prodect .prodect .content p {
    display: inline-block;
    font-size: 24px;
}

#menu .content .box span,
#prodect .prodect .content span {
    text-decoration: line-through;
    padding-left: 8px;
    color: #ccc
}

#menu .content .box button {
    display: block;
    margin: 20px auto 0;
    padding: 20px 25px;
    background-color: var(--main-color);
    cursor: pointer;
    color: #fff
}

#menu .content .box button:hover {
    color: #000;
    padding: 20px 35px;
    letter-spacing: 2px;
}


/************ENd Menu******/


/*******Start pro*/

#prodect {
    margin-top: 120px;
}

#prodect .prodect .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    text-align: center;
}

#prodect .prodect .content .box {
    border: 1px solid #ccc;
    padding: 20px 20px;
    color: #fff
}

#prodect .prodect .content .icon {
    justify-content: center;
    margin: 10px
}

#prodect .prodect .content .icon i {
    padding: 10px;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    font-size: 20px;
}

#prodect .prodect .content .icon i:hover {
    background: var(--main-color)
}

#prodect .prodect .content img {
    margin: 20px 0
}

.star,
#prodect .prodect .content h2 {
    margin: 20px 0;
    letter-spacing: 2px;
}

.content i {
    font-size: 20px;
    color: rgb(209, 209, 2)
}


/************End Prodect***********/

#review {
    margin: 120px 0
}

#review .review .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    text-align: center;
}

#review .review .content .box {
    border: 1px solid #ccc;
    padding: 20px 20px;
    color: #fff
}

#review .review .content .box img:first-child {
    margin: 20px 0
}

#review .review .content .box .img-rev {
    margin: 20px 0;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    width: 50%;
}

#review .review .content .box p {
    text-align: center;
    line-height: 1.7;
    margin: 20px 0;
}

#contact {
    background-color: var(--black);
    margin-top: 120px;
    margin-bottom: 120px
}

#contact .contact {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 50px 0;
    text-align: center;
}

#contact .contact .map {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

#contact .contact .form {
    flex: 1;
}

#contact .contact .form input {
    width: 100%;
    height: 60px;
    padding-left: 2rem;
    background: none;
    color: #fff
}

#contact .contact .form div {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bg);
    border: var(--border);
    display: flex;
    align-items: center;
}

#contact .contact .form span {
    color: #fff;
    padding-left: 32px;
    font-size: 22px;
}

#contact .contact .form button {
    padding: 20px 25px;
    cursor: pointer;
    background: var(--main-color);
    border: none;
    outline: none;
    color: #fff;
    margin-top: 30px
}

#contact .contact .form button:hover {
    color: #000;
    letter-spacing: 2px;
}


/*****************End Contact************/


/***********Start Blog*****/

#blogs .blog .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    text-align: left;
    justify-content: center;
    color: #ccc;
}

#blogs .blog .content .box {
    border: var(--border);
}

#blogs .blog .content .box .img {
    width: 100%;
    overflow: hidden;
}

#blogs .blog .content .box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#blogs .blog .content .box:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#blogs .blog .content .box .text {
    padding-left: 20px;
}

#blogs .blog .content .box h2 {
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

#blogs .blog .content .box h2:hover {
    color: var(--main-color)
}

.or {
    color: var(--main-color)
}

#blogs .blog .content .box p {
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.6;
}

#blogs .blog .content .box button {
    justify-content: center;
    padding: 20px 25px;
    cursor: pointer;
    display: flex;
    background: var(--main-color);
    color: #fff;
    margin: 20px 0
}

#blogs .blog .content .box button:hover {
    color: #000;
    letter-spacing: 2px;
}

footer {
    margin-top: 120px;
    background-color: var(--black);
    padding: 50px 0 10px;
}

footer .foot .share {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .foot .share a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer .foot .share a:hover {
    background-color: var(--main-color);
}

footer .foot .nav {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    cursor: pointer;
}

footer .foot .nav a {
    padding: 10px 25px;
    border: var(--border);
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

footer .foot .nav a:hover {
    background: var(--main-color)
}

footer .foot .foot-down {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    font-size: 22px
}

footer .foot .foot-down span {
    color: var(--main-color)
}


/*********End

/**************Start Media***/

@media (max-width:768px) {
    #hero .home p {
        max-width: 300px;
        margin-top: 20px
    }
    #hero button {
        font-size: 13px;
    }
    #about {
        margin-bottom: 200px;
    }
    #about .content {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    #about .content img {
        width: 80%;
    }
    #menu {
        margin-top: 150px
    }
    #menu .content .box img {
        width: 50%;
    }
    #menu .content .box h2 {
        font-size: 18px;
    }
    #prodect .content {
        width: 70%;
        justify-content: center;
        text-align: center;
    }
    #prodect .content .box {
        width: 100%;
    }
    #review .content {
        justify-content: center;
    }
    #about .content {
        width: 100%;
    }
}

@media (min-width:768px) {
    #hero .home p {
        max-width: 300px;
        margin-top: 20px
    }
    #hero button {
        font-size: 13px;
    }
    #menu .content h2 {
        font-size: 18px;
    }
}

@media (min-width:992px) {
    #hero .home p {
        max-width: 400px;
        margin-top: 20px
    }
    body {
        overflow-x: hidden;
    }
}

@media (max-width:992px) {
    html {
        font-size: 55%;
    }
    header .header .icon .fa-bars {
        display: inline-block;
    }
    header nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 30rem;
        height: 40rem;
        text-align: center;
        border-radius: 0 0 50px 50px;
        -webkit-border-radius: 0 0 50px 50px;
        -moz-border-radius: 0 0 50px 50px;
        -ms-border-radius: 0 0 50px 50px;
        -o-border-radius: 0 0 50px 50px;
        padding: 20px 0;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    header nav a {
        display: block;
        color: var(--black);
        font-size: 20px;
        padding: 10px;
    }
    header .header .icon>div:last-child {
        display: inline-block;
    }
    body {
        overflow-x: hidden;
    }
    #prodect .content h2 {
        font-size: 22px;
    }
    #prodect .content span {
        font-size: 15px;
    }
    #contact .contact {
        display: block;
        width: 100%;
    }
    #contact .contact .form {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        margin-top: 40px
    }
}

@media (min-width:1200px) {
    #prodect .content {
        width: 80%;
    }
    #review .content {
        width: 80%;
    }
    #review .content .box {
        width: 100%;
    }
}